<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список тестов студента</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="~{header :: header}"></div>

    <div class="container mt-5">
        <h2 class="text-center">Список тестов</h2>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Доступные тесты:</h5>
                <ul class="list-group">
                    <li class="list-group-item my-2" style="border: 1px solid rgba(0, 0, 0, .125);"> <!-- Added mb-2 for margin-bottom -->
                        <h6>Название теста: <span>Самый лёгкий тест</span></h6>
                        <p>Тема: <span>Алгебра</span></p>
                        <p>Преподаватель: <span>Иван Николаевич</span></p>
                        <a href="/student/test" class="btn btn-primary">Начать тест</a>
                    </li>
                    <li class="list-group-item my-2" style="border: 1px solid rgba(0, 0, 0, .125);"> <!-- Added mb-2 for margin-bottom -->
                        <h6>Название теста: <span>Самый средний тест</span></h6>
                        <p>Тема: <span>Физика</span></p>
                        <p>Преподаватель: <span>Иван Иванович</span></p>
                        <a href="/student/test" class="btn btn-primary">Начать тест</a>
                    </li>
                    <li class="list-group-item my-2" style="border: 1px solid rgba(0, 0, 0, .125);"> <!-- Added mb-2 for margin-bottom -->
                        <h6>Название теста: <span>Самый тяжёлый тест</span></h6>
                        <p>Тема: <span>Химия</span></p>
                        <p>Преподаватель: <span>Иван Иванович</span></p>
                        <a href="/student/test" class="btn btn-primary">Начать тест</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>